In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./datasets/health_fitness_dataset.csv')
df.head(5)

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,3,7128,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.04
1,1,2024-01-04,56,F,165.3,53.9,Swimming,28,Low,2.9,...,7,7925,1.8,19.6,69.5,110.7,72.9,NaN,Never,0.07
2,1,2024-01-05,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,7,7557,2.7,19.6,69.5,110.7,72.9,NaN,Never,0.09
3,1,2024-01-07,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,8,11120,2.6,19.6,69.5,110.7,72.9,NaN,Never,0.21
4,1,2024-01-09,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,1,5406,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.33

In [6]:
df.dtypes

participant_id                int64
date                         object
age                           int64
gender                       object
height_cm                   float64
weight_kg                   float64
activity_type                object
duration_minutes              int64
intensity                    object
calories_burned             float64
avg_heart_rate                int64
hours_sleep                 float64
stress_level                  int64
daily_steps                   int64
hydration_level             float64
bmi                         float64
resting_heart_rate          float64
blood_pressure_systolic     float64
blood_pressure_diastolic    float64
health_condition             object
smoking_status               object
fitness_level               float64
dtype: object

In [11]:
df.count()

participant_id              687701
date                        687701
age                         687701
gender                      687701
height_cm                   687701
weight_kg                   687701
activity_type               687701
duration_minutes            687701
intensity                   687701
calories_burned             687701
avg_heart_rate              687701
hours_sleep                 687701
stress_level                687701
daily_steps                 687701
hydration_level             687701
bmi                         687701
resting_heart_rate          687701
blood_pressure_systolic     687701
blood_pressure_diastolic    687701
health_condition            197426
smoking_status              687701
fitness_level               687701
dtype: int64

In [15]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
# errors='coerce' will convert invalid date formats to NaT
df['date'].head(5)

0   2024-01-01
1   2024-04-01
2   2024-05-01
3   2024-07-01
4   2024-09-01
Name: date, dtype: datetime64[ns]

In [13]:
df

,participant_id,date,age,gender,height_cm,weight_kg,activity_type,duration_minutes,intensity,calories_burned,...,stress_level,daily_steps,hydration_level,bmi,resting_heart_rate,blood_pressure_systolic,blood_pressure_diastolic,health_condition,smoking_status,fitness_level
0,1,2024-01-01,56,F,165.3,53.7,Dancing,41,Low,3.3,...,3,7128,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.04
1,1,2024-04-01,56,F,165.3,53.9,Swimming,28,Low,2.9,...,7,7925,1.8,19.6,69.5,110.7,72.9,NaN,Never,0.07
2,1,2024-05-01,56,F,165.3,54.2,Swimming,21,Medium,2.6,...,7,7557,2.7,19.6,69.5,110.7,72.9,NaN,Never,0.09
3,1,2024-07-01,56,F,165.3,54.4,Weight Training,99,Medium,10.7,...,8,11120,2.6,19.6,69.5,110.7,72.9,NaN,Never,0.21
4,1,2024-09-01,56,F,165.3,54.7,Swimming,100,Medium,12.7,...,1,5406,1.5,19.6,69.5,110.7,72.9,NaN,Never,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687696,3000,NaT,38,F,165.7,112.9,Basketball,44,Medium,13.2,...,6,6911,1.9,20.7,66.5,127.0,75.5,NaN,Never,17.13
687697,3000,NaT,38,F,165.7,113.1,Basketball,25,Low,6.3,...,6,8932,2.6,20.7,66.5,127.0,75.5,NaN,Never,17.16
687698,3000,NaT,38,F,165.7,113.4,Yoga,97,Low,9.1,...,8,8864,1.8,20.7,66.5,127.0,75.5,NaN,Never,17.26
687699,3000,NaT,38,F,165.7,113.6,Basketball,108,Medium,32.6,...,4,7455,2.1,20.7,66.5,127.0,75.5,NaN,Never,17.39
687700,3000,NaT,38,F,165.7,113.9,Yoga,29,High,3.8,...,2,9737,2.0,20.7,66.5,127.0,75.5,NaN,Never,17.43